body {
    background-image: url(c.jpg);
    /* background-color: #FFF0BB; */
}

.greyish {
    background-color: #aed6b88a;
}

.btn-space {
    margin-bottom: 10px;
    margin-top: 10px;
}

.pinkish {
    background-color: #ffe8d6;
}

.mud {
    background-color: #ddbea9;
}

.maintext {
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}